/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  /* Estilos para la tarjeta que contiene los detalles */
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
  }
  
  /* Estilos para la imagen */
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  /* Estilos para encabezados */
  h1 {
    font-size: 28px;
    color: #ff0000;
    margin-bottom: 20px;
  }
  
  /* Estilos para los botones */
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #cc0000;
  }
  
  /* Estilos para la lista de detalles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
  }
  
  img{
    width:300px; 
    height:300px;
  }