.container{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 20%;
    padding-top: 15px;
    padding-bottom: 20px;
    /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.406); /
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px 13px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    / background: url('../../assets/148491.jpg'); */
}

.navButtons{
    margin-top: 20px;
    padding: 8px;
    background-color:rgb(20, 16, 16);
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.208);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    cursor: pointer;
    border:none;
}

.navButtons:hover{

    background-color: rgb(9, 9, 8);
    transition: 0.3s;

}